body{
    background-color: black;
    color: white;
    font-family: 'Arial', Arial, Helvetica, sans-serif;
}

.page-title{
    text-align: center;

}

a:link{
    color: hsl(185, 100%, 75%);
}

a:visited{
    color:hsl(185, 100%, 90%)
}

a:hover{
    color:hsl(185, 100%, 50%)
}

#link-list{
    list-style-type: none;
    text-align: center;
}

.disclaimer{
    font-style: italic;
    text-align: center;
}

.image{
    margin: auto;
    width:fit-content;
    border: 3px;
    padding: 10px;

}

.button-container{
    margin-inline: auto;
    width:fit-content;
    padding: 50px;
    background-color: hsl(185, 0%, 15%);
}

.buttons{
    padding: 50px;
}

.main-content{
    margin: auto 300px;
    background-color: hsl(185, 0%, 15%);
    padding: 30px;
}

